---
import Layout from '@/layouts/Layout.astro';
import AsideMenu from '@/components/AsideMenu.astro';
import AsidePlaylist from '@/components/AsidePlaylist.astro';

---

<Layout title="Spotify-Clone | Inaki Carcereny">
	<div class="flex mx-2 my-2 gap-2">
		<div class="flex flex-col gap-2">
			<div class="w-[250px] h-[125px] bg-zinc-900 rounded-2xl">
				<AsideMenu />
			</div>
			<div class="w-[250px] h-[650px] bg-zinc-900 rounded-2xl">
				<AsidePlaylist />
			</div>
		</div>
		<div class="flex w-screen h-[783px] bg-zinc-900 rounded-2xl">

		</div>
	</div>
</Layout>

