---
import Layout from '@/layouts/Layout.astro';
import BackIcon from '@/Icons/BackIcon.astro'
import ForwardIcon from '@/Icons/ForwardIcon.astro'
import NotificationsIcon from '@/Icons/NotificationsIcon.astro'
import SocialIcon from '@/Icons/SocialIcon.astro'
import UserIcon from '@/Icons/UserIcon.astro'
  
import PlaylistCard from '@/components/PlaylistCard.astro'
import { playlists } from '@/lib/data'
---

<Layout title="Spotify-Clone | Inaki Carcereny">
  <div class="">
    <div class="flex items-center justify-between pt-4 px-4">
      <div class="flex items-center gap-1">
        <a href="" class="rounded-full bg-black/60 px-1 py-1">
          <BackIcon />
        </a>
        <a href="" class="rounded-full bg-black/60 px-1 py-1">
          <ForwardIcon />
        </a>
      </div>
      <div class="flex items-center gap-1">
        <a href="" class="rounded-full bg-black/60 px-1 py-1 hover:scale-[1.1] hover: text-white">
          <NotificationsIcon />
        <a>
        <a href="" class="rounded-full bg-black/60 px-1 py-1 hover:scale-[1.1]">
          <SocialIcon />
        </a>
        <a href="" class="rounded-full bg-black/60 px-1 py-1 hover:scale-[1.1]">
          <UserIcon />
        </a>
      </div>
    </div>
        
    <div class="contenedor-titulo text-white text-4xl font-semibold mx-4 mt-10">
      
    </div> 
        
  <div class="flex flex-wrap gap-1 mx-2 mt-6">
    {
      playlists.map((playlist) => <PlaylistCard playlists={playlist} />)
    }
  </div>
</Layout>

<script>
  const contenedor = document.querySelector('.contenedor-titulo');  

  const fecha = new Date();
  const hora = fecha.getHours();

  let titulo = document.createElement('h1');
  contenedor?.appendChild(titulo);

  if (hora >= 6 && hora < 12) {
    titulo.textContent = 'Buenos días';
  } else if (hora >= 12 && hora < 20) {
    titulo.textContent = 'Buenas tardes';
  } else {
    titulo.textContent = 'Buenas noches';
  }
</script>

