---
import HomeIcon from '@/Icons/HomeIcon.astro'
import SearchIcon from '@/Icons/SearchIcon.astro'
---


<ul class="flex flex-col items-start mx-4 my-6 gap-y-6">
  <li class="flex items-center justify-center text-lg text-zinc-400 hover:text-white hover:duration-200 font-bold gap-4">
    <HomeIcon />
    <a href="/">Inicio</a>
  </li>
  <li class="flex items-center justify-center text-lg text-zinc-400 hover:text-white hover:duration-200 font-bold gap-4">
    <SearchIcon />
    <span>Buscar</span>
  </li>
</ul>