---
import { ButtonPlay } from '@/components/ButtonPlay.jsx'
---

<div class="flex items-center justify-between">
  <div>
    <ButtonPlay />
  </div>

  <div class="flex rounded-full bg-white flex-col items-center">
    
  </div>

  <div>

  </div>
</div>