---
import AsideMenu from '@/components/AsideMenu.astro';
import AsidePlaylist from '@/components/AsidePlaylist.astro';
import { MusicPlayer } from '../components/MusicPlayer';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<ViewTransitions fallback='none'/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex mx-2 my-2 gap-2">
			<div class="flex flex-col gap-2">
				<div class="w-[400px] h-[125px] bg-[#141414] rounded-xl">
					<AsideMenu />
				</div>
				<div class="w-[400px] h-[725px] bg-[#141414] rounded-xl">
					<AsidePlaylist />
				</div>
			</div>

			
			<div class="w-screen h-[858px] bg-[#141414] rounded-xl">
				<slot />
			</div>
		</div>
		<div class="flex mx-2 my-2 gap-2">
			<div class="w-screen h-[10vh] bg-black rounded-xl">
				<MusicPlayer client:load transition:name="media-player" transition:persist/>
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {

		;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #000;
		overflow-y: hidden;

	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
